.input.form-control {
    margin: 1% 15% 1% 15%;
    width: 70%;
    color: #0d6efd;
    border-color: #0d6efd;
}

.result {
    resize: none;
    width: 100%;
    box-sizing: border-box;
    margin: 1% 10% 1% 10%;
    width: 80%;
    text-align: center;
    color: #0d6efd;
    border-color: #0d6efd;
}

.lenght {
    color: #0d6efd;
}

